.add-layout {
  border-radius: 5px;
  bottom: 0;
  margin: 5px;
  position: absolute;
  right: 0;
}

.layout {
  background: #52b788;
  border-radius: 5px;
  flex: 2;
  margin: 5px;
  overflow-y: auto;
  position: relative;
}

.layout-cell {
  background: transparent;
  border-radius: 5px;
  display: flex;
  min-height: 100px;
  margin: 5px;
}

.layout-cell img {
  margin: 15px;
  width: 60px;
}

.layout-cell-active {
  background: green;
}

.layout-cell-full {
  border-radius: 5px;
  display: flex;
  width: 100%;
}

.layout-cell-split {
  border-radius: 5px;
  display: grid;
  gap: 10px;
  width: 100%;
}

.layout-cell-normal {
  background: #1b4332;
  border-radius: 5px;
  width: 100%;
}

.layout-cell-orientation {
  background: #1b4332;
  border-radius: 5px;
}

.layout-cell-vertical {
  @extend .layout-cell-orientation;
  grid-template-columns: repeat(2, auto);
}

.layout-cell-vertical:nth-child(odd) {
  grid-column: 1 / 2;
  grid-row: 1;
}

.layout-cell-vertical:nth-child(even) {
  grid-column: 2 / 2;
  grid-row: 1;
}

.layout-cell-horizontal {
  @extend .layout-cell-orientation;
  grid-template-rows: repeat(2, auto);
}

.layout-cell-horizontal:nth-child(odd) {
  grid-column: 1;
  grid-row: 1 / 2;
}

.layout-cell-horizontal:nth-child(even) {
  grid-column: 1;
  grid-row: 2 / 2;
}
