.presets {
  background: #1b4332;
  border-radius: 5px;
  color: #FFF;
  font-family: 'DM Sans', sans-serif;
  padding: 9px;
  float: right;
}

.preset-select {
  font-family: 'DM Sans', sans-serif;
}

.preset-select-option {
  font-family: 'DM Sans', sans-serif;
}